.wd-search{
    border:1px solid lightgray;
    padding-left: 10px ;
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
}
.wd-search-tuiter {
    display:flex;
    flex-direction: row;
    align-items: center;
}
