.wd-search-input{
    border:1px solid lightgray;
    padding-left: 10px ;
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
}
.wd-search-tuiter {
    display:flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 10px;
}
body {
    background-color: black !important;
    font-size: 15px;
    color: white;
}
p {
    margin: 0;
}
