body {
    background-color: black;
    border-color: rgb(47, 51, 54);
    color: white;
    font-family: Arial, sans-serif;
    padding-left: 16px;
}
.wd-tick {
    display: inline;
    color: dodgerblue;
}